In [1]:
import pandas as pd

### Series Object

A series object in pandas is simply a one-dimensional array of indexed data.It means that each element has an index, allowing one to access them using values and the index attributes.

    Syntax: 
        pd.Series(data, index = index)

index argument is optional

In [6]:
s = pd.Series([1,3,4,6,7,12]) # creating a pandas series using a list
s

0     1
1     3
2     4
3     6
4     7
5    12
dtype: int64

In [7]:
# as you can see the result shows a sequence of indices and values.

s.values # getting the values only

array([ 1,  3,  4,  6,  7, 12], dtype=int64)

In [8]:
s.index # accessing the indices

RangeIndex(start=0, stop=6, step=1)

In [9]:
# we can also get the values as follows:
s[0]

1

In [10]:
s[3]

6

In [11]:
s[:5]

0    1
1    3
2    4
3    6
4    7
dtype: int64

### The difference between Pandas Series Object and One-Dimensional array

The only difference between a series object and a Numpy one-dimensional array is the indices.An important feature of the series object is that the indices can take any type of value and can be set up in any way.

In [16]:
s = pd.Series([1,4,5,7,8,11], index = [2,3,8,4,6,7]) # the indices are different in this case
s

2     1
3     4
8     5
4     7
6     8
7    11
dtype: int64

In [18]:
s = pd.Series([2,3,4,5,6,7], index = ['b', 'c', 's', 'd', 'n', 'e']) # the indices are strings
s

b    2
c    3
s    4
d    5
n    6
e    7
dtype: int64

In [19]:
s['b']

2

In [26]:
# Creating Pandas Object using a dictionary 

name_age_dict = {'Alex': 22, 'John':17, 'Samantha': 25}

s = pd.Series(name_age_dict)
s

Alex        22
John        17
Samantha    25
dtype: int64

In [27]:
s['Alex'] # Accessing values

22

In [28]:
s['Alex':'Samantha'] # Slicing

Alex        22
John        17
Samantha    25
dtype: int64

### Pandas DataFrame Object

A dateframe object is similar to a Numpy two-dimensional array with row indices and column names.

In [40]:
salarie = pd.Series([20, 23, 35, 54])
name = pd.Series(['Smith', 'Robin', 'Alain', 'Pierre'])

df = pd.DataFrame({'Age':age,'Name':name})
df

   Age    Name
0   20   Smith
1   23   Robin
2   35   Alain
3   54  Pierre

In [41]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [37]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = population_dict

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}

area = area_dict

states = pd.DataFrame({'population': population,
'area': area})

states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [38]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [39]:
df.index

RangeIndex(start=0, stop=4, step=1)